Spaceship Titanic

# Data Analysis and Visualization

In [36]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import re

train = pd.read_csv('/Users/adityajoshi/Documents/VisualStudioCode/VSC/Kaggle Comps/Spaceship Titanic/train-SpaceshipTitanic.csv')
df = pd.DataFrame(train)

In [37]:
print("Descriptive Statistics:\n")
print(df.describe(), "\n")
print("Dimension of Original Train Data:", df.shape)

Descriptive Statistics:

               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  8514.000000   8512.000000   8510.000000   8485.000000   8510.000000
mean     28.827930    224.687617    458.077203    173.729169    311.138778
std      14.489021    666.717663   1611.489240    604.696458   1136.705535
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      27.000000      0.000000      0.000000      0.000000      0.000000
75%      38.000000     47.000000     76.000000     27.000000     59.000000
max      79.000000  14327.000000  29813.000000  23492.000000  22408.000000

             VRDeck
count   8505.000000
mean     304.854791
std     1145.717189
min        0.000000
25%        0.000000
50%        0.000000
75%       46.000000
max    24133.000000

Dimension of Original Train Data: (8693, 14)

In [38]:
print("number of null values in each column:\n")
df.isnull().sum()

number of null values in each column:

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [39]:
print("Number of unique values in each column:\n")
df.nunique()

Number of unique values in each column:

PassengerId     8693
HomePlanet         3
CryoSleep          2
Cabin           6560
Destination        3
Age               80
VIP                2
RoomService     1273
FoodCourt       1507
ShoppingMall    1115
Spa             1327
VRDeck          1306
Name            8473
Transported        2
dtype: int64

In [40]:
print("Number of duplicate rows:\n")
df.duplicated().sum()

Number of duplicate rows:

0

In [41]:
print("Columns with missing Name values:\n")
df[df["Name"].isna()]

Columns with missing Name values:

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
27,0022_01,Mars,False,D/0/P,TRAPPIST-1e,21.0,False,980.0,2.0,69.0,0.0,0.0,NaN,False
58,0064_01,Mars,True,F/14/S,TRAPPIST-1e,15.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
65,0069_01,Earth,False,F/16/S,TRAPPIST-1e,42.0,False,887.0,0.0,9.0,6.0,0.0,NaN,True
77,0082_03,Mars,False,F/16/P,TRAPPIST-1e,8.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
101,0108_02,Earth,False,G/19/S,TRAPPIST-1e,31.0,False,562.0,0.0,326.0,0.0,0.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8629,9205_02,Europa,True,B/300/P,TRAPPIST-1e,15.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
8631,9208_01,Earth,True,G/1485/S,TRAPPIST-1e,35.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
8636,9218_01,Europa,True,B/353/S,55 Cancri e,43.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
8652,9230_01,Europa,False,C/342/S,TRAPPIST-1e,36.0,True,0.0,5600.0,715.0,2868.0,971.0,NaN,True
8664,9246_01,Earth,NaN,G/1490/S,TRAPPIST-1e,32.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True

In [42]:
print("Are there any other NaN values in the same rows as the missing Name values?\n")
print(df.drop(columns= "Name").isna().sum() - df.isnull().sum())
print("No, there are no other NaN values in the same rows as the missing Name values.")

Are there any other NaN values in the same rows as the missing Name values?

Age             0.0
Cabin           0.0
CryoSleep       0.0
Destination     0.0
FoodCourt       0.0
HomePlanet      0.0
Name            NaN
PassengerId     0.0
RoomService     0.0
ShoppingMall    0.0
Spa             0.0
Transported     0.0
VIP             0.0
VRDeck          0.0
dtype: float64
No, there are no other NaN values in the same rows as the missing Name values.

In [43]:
print("Since the Name column is not a useful feature for predicting survival but the data in the rest of the row is valuable, we should replace the Nan with John Doe. Then we will split the Name Column into First and Last Name Column since the family name can be a useful indicator for survival\n")

Since the Name column is not a useful feature for predicting survival but the data in the rest of the row is valuable, we should replace the Nan with John Doe. Then we will split the Name Column into First and Last Name Column since the family name can be a useful indicator for survival

In [57]:
temp = train.copy()
temp["Name"] = temp["Name"].fillna("John Doe")




temp['first_name'], temp['last_name'] = zip(*temp['Name'].apply(lambda x: re.split(r'\s+', x)))
temp.drop(columns = "Name", inplace = True)
temp.drop(columns = "first_name", inplace = True)

print("Number of null values in each column after 1st transformation:\n")
print(temp.isna().sum())
df = temp.copy()

number of null values in each column after 1st transformation:

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
last_name         0
dtype: int64