Spaceship Titanic

# Data Analysis and Visualization

In [234]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import re

train = pd.read_csv('/Users/adityajoshi/Documents/VisualStudioCode/VSC/Kaggle Comps/Spaceship Titanic/train-SpaceshipTitanic.csv')
df = pd.DataFrame(train)
rows_with_multiple_nulls = df[df.isna().sum(axis=1) > 1]
print(rows_with_multiple_nulls)

     PassengerId HomePlanet CryoSleep     Cabin  Destination   Age    VIP  \
59       0064_02        NaN      True     E/3/S  TRAPPIST-1e  33.0  False
111      0115_01       Mars       NaN    F/24/P  TRAPPIST-1e  26.0  False
181      0202_02     Europa     False     A/2/P  55 Cancri e   NaN  False
186      0210_01        NaN      True     D/6/P  55 Cancri e  24.0  False
251      0278_01      Earth     False       NaN  TRAPPIST-1e  35.0  False
...          ...        ...       ...       ...          ...   ...    ...
8613     9194_01        NaN     False   E/603/S  55 Cancri e  53.0  False
8623     9197_04     Europa     False   C/308/P  55 Cancri e  30.0  False
8664     9246_01      Earth       NaN  G/1490/S  TRAPPIST-1e  32.0  False
8666     9248_01        NaN     False  F/1792/S  55 Cancri e  38.0    NaN
8675     9259_01      Earth       NaN  F/1893/P  TRAPPIST-1e  44.0  False

      RoomService  FoodCourt  ShoppingMall    Spa  VRDeck             Name  \
59            0.0        0.0           NaN    0.0     0.0      Colatz Keen
111           0.0        0.0           0.0    0.0     NaN        Rohs Pead
181           0.0     2433.0           NaN  878.0   443.0    Vegas Embleng
186           0.0        0.0           NaN    0.0     0.0   Arraid Inicont
251           0.0        0.0           0.0  888.0     NaN    Judya Beachez
...           ...        ...           ...    ...     ...              ...
8613          0.0     4017.0           0.0   13.0  3147.0              NaN
8623       1569.0        NaN           0.0    NaN  2252.0    Phecca Platch
8664          0.0        0.0           0.0    0.0     0.0              NaN
8666         28.0     1208.0         973.0  207.0     0.0       Gian Perle
8675       1030.0     1015.0           0.0   11.0     NaN  Annah Gilleyons

      Transported
59           True
111          True
181          True
186          True
251         False
...           ...
8613        False
8623        False
8664         True
8666         True
8675         True

[220 rows x 14 columns]

In [235]:
print("Descriptive Statistics:\n")
print(df.describe(), "\n")
print("Dimension of Original Train Data:", df.shape)

Descriptive Statistics:

               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  8514.000000   8512.000000   8510.000000   8485.000000   8510.000000
mean     28.827930    224.687617    458.077203    173.729169    311.138778
std      14.489021    666.717663   1611.489240    604.696458   1136.705535
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      27.000000      0.000000      0.000000      0.000000      0.000000
75%      38.000000     47.000000     76.000000     27.000000     59.000000
max      79.000000  14327.000000  29813.000000  23492.000000  22408.000000

             VRDeck
count   8505.000000
mean     304.854791
std     1145.717189
min        0.000000
25%        0.000000
50%        0.000000
75%       46.000000
max    24133.000000

Dimension of Original Train Data: (8693, 14)

In [236]:
print("number of null values in each column:\n")
df.isnull().sum()

number of null values in each column:

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [237]:
print("Number of unique values in each column:\n")
df.nunique()

Number of unique values in each column:

PassengerId     8693
HomePlanet         3
CryoSleep          2
Cabin           6560
Destination        3
Age               80
VIP                2
RoomService     1273
FoodCourt       1507
ShoppingMall    1115
Spa             1327
VRDeck          1306
Name            8473
Transported        2
dtype: int64

In [238]:
print("Number of duplicate rows:\n")
df.duplicated().sum()

Number of duplicate rows:

0

In [239]:
print("Columns with missing Name values:\n")
df[df["Name"].isna()]

Columns with missing Name values:

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
27,0022_01,Mars,False,D/0/P,TRAPPIST-1e,21.0,False,980.0,2.0,69.0,0.0,0.0,NaN,False
58,0064_01,Mars,True,F/14/S,TRAPPIST-1e,15.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
65,0069_01,Earth,False,F/16/S,TRAPPIST-1e,42.0,False,887.0,0.0,9.0,6.0,0.0,NaN,True
77,0082_03,Mars,False,F/16/P,TRAPPIST-1e,8.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
101,0108_02,Earth,False,G/19/S,TRAPPIST-1e,31.0,False,562.0,0.0,326.0,0.0,0.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8629,9205_02,Europa,True,B/300/P,TRAPPIST-1e,15.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
8631,9208_01,Earth,True,G/1485/S,TRAPPIST-1e,35.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
8636,9218_01,Europa,True,B/353/S,55 Cancri e,43.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True
8652,9230_01,Europa,False,C/342/S,TRAPPIST-1e,36.0,True,0.0,5600.0,715.0,2868.0,971.0,NaN,True
8664,9246_01,Earth,NaN,G/1490/S,TRAPPIST-1e,32.0,False,0.0,0.0,0.0,0.0,0.0,NaN,True

In [240]:
print("Since the Name column is not a useful feature for predicting survival but the data in the rest of the row is valuable, we should replace the Nan with John Doe. Then we will split the Name Column into First and Last Name Column since the family name can be a useful indicator for survival\n")

Since the Name column is not a useful feature for predicting survival but the data in the rest of the row is valuable, we should replace the Nan with John Doe. Then we will split the Name Column into First and Last Name Column since the family name can be a useful indicator for survival

In [241]:
temp = train.copy()

temp["Name"] = temp["Name"].fillna("John Doe")
temp['first_name'], temp['last_name'] = zip(*temp['Name'].apply(lambda x: re.split(r'\s+', x)))
temp.drop(columns = "Name", inplace = True)
temp.drop(columns = "first_name", inplace = True)

print("Number of null values in each column after Name transformation:\n")
print(temp.isna().sum())
df = temp.copy()

Number of null values in each column after Name transformation:

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
last_name         0
dtype: int64

In [242]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,last_name
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,Ofracculy
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,Vines
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,Susent
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,Susent
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,Santantines

In [243]:
print("Now we split PassengerId into two columns, group and pp, where group is the group number and pp is the passenger number within the group. Also insure that the new columns are integers\n")
print("The PassengerId is in the form group_pp\n")

temp = df.copy()
temp["group"], temp["pp"] = zip(*temp["PassengerId"].apply(lambda x: re.split(r'_+', x)))
temp["group"] = pd.Series(data = temp["group"]).round(0).astype(int)    
temp["pp"] = pd.Series(data = temp["pp"]).round(0).astype(int)    
temp.drop(columns = "PassengerId", inplace = True)
df1 = temp.copy()
df1.describe()

Now we split PassengerId into two columns, group and pp, where group is the group number and pp is the passenger number within the group. Also insure that the new columns are integers

The PassengerId is in the form group_pp

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,group,pp
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000,8693.000000,8693.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791,4633.389624,1.517773
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189,2671.028856,1.054241
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2319.000000,1.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4630.000000,1.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000,6883.000000,2.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,9280.000000,8.000000

In [244]:
print("Next we deal with the NaN values in the Age column. We will replace the NaN values with the mean/median of the Age column\n")

temp = df1.copy()

print("Mean of Age:",temp["Age"].mean())
print("\n")
print("Meadian of Age",temp["Age"].median())

Next we deal with the NaN values in the Age column. We will replace the NaN values with the mean/median of the Age column

Mean of Age: 28.82793046746535


Meadian of Age 27.0

In [245]:
print("Ensure that the Age column does not have any numbers after decimal point and can be treated as an integer. Then replace NaN values with the median age\n")
fractional_rows = df1.loc[df1['Age'].notna() & (df1['Age'] % 1 != 0)]
print(fractional_rows)

temp["Age"] = temp["Age"].fillna(temp["Age"].median())
temp["Age"] = pd.Series(data = temp["Age"]).round(0).astype(int)
temp.head()

df2 = temp.copy()

Ensure that the Age column does not have any numbers after decimal point and can be treated as an integer. Then replace NaN values with the median age

Empty DataFrame
Columns: [HomePlanet, CryoSleep, Cabin, Destination, Age, VIP, RoomService, FoodCourt, ShoppingMall, Spa, VRDeck, Transported, last_name, group, pp]
Index: []

In [246]:
df2.isnull().sum()  
#df2.head()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age               0
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
last_name         0
group             0
pp                0
dtype: int64

In [247]:
print("We are going to assume that the NaN values in the Roomservice, Foodcourt, ShoppingMall, SPA, and VRDeck implies that the passenger did not use the service. We will replace the NaN values with 0\n")

We are going to assume that the NaN values in the Roomservice, Foodcourt, ShoppingMall, SPA, and VRDeck implies that the passenger did not use the service. We will replace the NaN values with 0

In [248]:
temp = df2.copy()

temp["RoomService"] = temp["RoomService"].fillna(0)
temp["FoodCourt"] = temp["FoodCourt"].fillna(0)
temp["ShoppingMall"] = temp["ShoppingMall"].fillna(0)
temp["Spa"] = temp["Spa"].fillna(0)
temp["VRDeck"] = temp["VRDeck"].fillna(0)
df3 = temp.copy()
df3.isnull().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age               0
VIP             203
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Transported       0
last_name         0
group             0
pp                0
dtype: int64

In [249]:

df3[df3["Destination"].isna() & df3["HomePlanet"].isna()]

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,last_name,group,pp
347,NaN,False,G/64/P,NaN,23,False,348.0,0.0,0.0,4.0,368.0,False,Floydendley,382,1
5208,NaN,False,G/896/S,NaN,43,NaN,1.0,0.0,213.0,7.0,701.0,True,Blanglison,5555,1
5687,NaN,False,F/1146/S,NaN,52,False,0.0,645.0,0.0,0.0,395.0,True,Alshipson,6031,1
6629,NaN,False,G/1131/P,NaN,12,False,0.0,0.0,0.0,0.0,0.0,False,Bakerrison,6992,1

In [250]:
rows_with_multiple_nulls = df3[df3.isna().sum(axis=1) > 1]
print(rows_with_multiple_nulls.shape)

(43, 15)

In [251]:
rows_with_multiple_nulls

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,last_name,group,pp
314,Mars,NaN,NaN,TRAPPIST-1e,36,False,520.0,0.0,1865.0,0.0,0.0,True,Mane,348,2
347,NaN,False,G/64/P,NaN,23,False,348.0,0.0,0.0,4.0,368.0,False,Floydendley,382,1
691,Europa,NaN,NaN,55 Cancri e,54,False,0.0,0.0,0.0,0.0,0.0,True,Unconary,715,1
959,Earth,False,NaN,TRAPPIST-1e,15,NaN,48.0,6.0,0.0,954.0,0.0,False,Blanglison,1022,1
1017,Earth,NaN,G/165/P,TRAPPIST-1e,54,NaN,0.0,0.0,0.0,0.0,0.0,False,Wagnerray,1085,1
1049,Earth,NaN,NaN,TRAPPIST-1e,36,False,0.0,3011.0,0.0,0.0,98.0,True,Barnolaney,1116,2
1134,Mars,False,NaN,TRAPPIST-1e,28,NaN,42.0,1116.0,0.0,0.0,0.0,True,Tie,1198,1
1219,Earth,NaN,NaN,TRAPPIST-1e,19,False,68.0,0.0,0.0,719.0,0.0,False,Vaught,1295,1
1383,Earth,NaN,G/229/P,55 Cancri e,16,NaN,0.0,2838.0,32.0,5.0,3404.0,False,Thorney,1453,1
1550,NaN,True,NaN,55 Cancri e,18,False,0.0,0.0,0.0,0.0,0.0,False,Thonyderson,1645,1
1714,NaN,False,NaN,TRAPPIST-1e,67,False,143.0,68.0,496.0,182.0,9.0,True,Byerson,1823,1
1958,Mars,False,NaN,TRAPPIST-1e,13,NaN,6726.0,0.0,1605.0,1266.0,0.0,False,Stpie,2092,3
2227,NaN,True,NaN,TRAPPIST-1e,11,False,0.0,0.0,0.0,0.0,0.0,True,Pollarkeeks,2384,7
2560,Mars,NaN,F/570/P,TRAPPIST-1e,49,NaN,0.0,0.0,0.0,0.0,0.0,True,Chrie,2747,1
2639,Earth,NaN,G/450/S,TRAPPIST-1e,5,NaN,0.0,0.0,0.0,0.0,0.0,False,Harverez,2822,2
3622,NaN,NaN,C/140/S,55 Cancri e,18,False,0.0,4387.0,0.0,2241.0,0.0,True,Preeldy,3896,1
3858,NaN,True,NaN,TRAPPIST-1e,40,False,0.0,0.0,0.0,0.0,0.0,True,Datty,4134,1
3882,Earth,False,NaN,PSO J318.5-22,27,NaN,0.0,440.0,0.0,0.0,334.0,False,Deckerson,4167,1
4075,Earth,False,F/895/P,NaN,21,NaN,641.0,0.0,409.0,0.0,0.0,False,Carezquez,4351,1
4753,Earth,False,F/966/S,NaN,20,NaN,542.0,175.0,0.0,5.0,0.0,True,Collinson,5070,1
5055,NaN,False,F/1035/S,PSO J318.5-22,22,NaN,2.0,46.0,0.0,483.0,67.0,False,Langatein,5406,1
5208,NaN,False,G/896/S,NaN,43,NaN,1.0,0.0,213.0,7.0,701.0,True,Blanglison,5555,1
5409,Earth,NaN,F/1199/P,PSO J318.5-22,46,NaN,559.0,25.0,0.0,22.0,765.0,False,River,5777,1
5687,NaN,False,F/1146/S,NaN,52,False,0.0,645.0,0.0,0.0,395.0,True,Alshipson,6031,1
5697,Earth,NaN,G/976/P,TRAPPIST-1e,3,NaN,0.0,0.0,0.0,0.0,0.0,False,Morsentley,6035,2
5710,Mars,True,NaN,NaN,25,False,0.0,0.0,0.0,0.0,0.0,False,Clake,6048,1
5806,Earth,False,NaN,NaN,21,False,28.0,0.0,0.0,662.0,0.0,False,Doe,6141,2
6057,Earth,NaN,NaN,NaN,2,False,0.0,0.0,0.0,0.0,0.0,True,Toddleton,6405,2
6112,Mars,False,NaN,NaN,37,False,610.0,0.0,410.0,148.0,14.0,False,Panad,6451,1
6267,NaN,True,NaN,TRAPPIST-1e,64,False,0.0,0.0,0.0,0.0,0.0,True,Dischod,6634,2
6373,Earth,NaN,F/1286/S,PSO J318.5-22,18,NaN,103.0,0.0,181.0,1611.0,22.0,False,Reyersendry,6741,2
6601,Mars,False,NaN,TRAPPIST-1e,65,NaN,3358.0,1.0,12.0,0.0,0.0,False,Gin,6970,1
6629,NaN,False,G/1131/P,NaN,12,False,0.0,0.0,0.0,0.0,0.0,False,Bakerrison,6992,1
6904,Europa,NaN,C/237/P,NaN,33,False,0.0,0.0,0.0,0.0,0.0,True,Venticable,7314,1
7114,Europa,NaN,B/288/S,NaN,19,False,0.0,0.0,0.0,0.0,0.0,True,Swingse,7584,1
7218,NaN,NaN,D/241/P,TRAPPIST-1e,24,False,0.0,82.0,0.0,1624.0,77.0,False,Muspereed,7711,1
7293,NaN,False,NaN,55 Cancri e,21,False,1720.0,2337.0,0.0,1.0,335.0,False,Coopezmaney,7801,1
7333,Mars,NaN,NaN,TRAPPIST-1e,29,False,1052.0,0.0,635.0,0.0,0.0,False,Pine,7848,1
7382,Earth,NaN,NaN,TRAPPIST-1e,13,False,34.0,1.0,0.0,824.0,29.0,False,Duffmaney,7891,2
8012,Mars,NaN,D/258/S,NaN,53,False,1042.0,0.0,2.0,1.0,11.0,False,Welte,8574,2
8038,Earth,True,G/1396/P,NaN,24,NaN,0.0,0.0,0.0,0.0,0.0,False,Weissey,8602,3
8110,Earth,True,NaN,55 Cancri e,40,NaN,0.0,0.0,0.0,0.0,0.0,True,Hurchrisong,8663,2
8666,NaN,False,F/1792/S,55 Cancri e,38,NaN,28.0,1208.0,973.0,207.0,0.0,True,Perle,9248,1

In [252]:
print(df3[df3['Destination'].isna()].describe())  # Summary of rows with missing 'Destination'

              Age  RoomService    FoodCourt  ShoppingMall           Spa  \
count  182.000000   182.000000   182.000000    182.000000    182.000000
mean    30.071429   203.390110   331.291209    145.615385    359.994505
std     12.855352   528.803138   978.207193    370.873697   1380.158280
min      0.000000     0.000000     0.000000      0.000000      0.000000
25%     20.000000     0.000000     0.000000      0.000000      0.000000
50%     29.000000     0.000000     0.000000      0.000000      0.000000
75%     40.000000    47.500000   105.750000     37.000000    115.250000
max     62.000000  3651.000000  7964.000000   2624.000000  15586.000000

            VRDeck        group          pp
count   182.000000   182.000000  182.000000
mean    218.461538  4687.565934    1.510989
std     740.805062  2547.364866    1.049804
min       0.000000    45.000000    1.000000
25%       0.000000  2583.000000    1.000000
50%       0.000000  4881.000000    1.000000
75%      58.500000  6831.000000    2.000000
max    6178.000000  9226.000000    7.000000

In [ ]:
import re
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

train = pd.read_csv('/Users/adityajoshi/Documents/VisualStudioCode/VSC/Kaggle Comps/Spaceship Titanic/train-SpaceshipTitanic.csv')
df5 = pd.DataFrame(train)

temp = df5.copy()



# Split PassengerId into (group, pp) PassengerId is in the form "gggg_pp"
temp["group"], temp["pp"] = zip(*temp["PassengerId"].apply(lambda x: re.split(r'_+', x)))
temp["group"] = temp["group"].astype(int)
temp["pp"] = temp["pp"].astype(int)
temp.drop(columns=["PassengerId"], inplace=True)


# Impute Age with median and convert to int
temp["Age"] = temp["Age"].fillna(temp["Age"].median())
temp["Age"] = temp["Age"].round().astype(int)


# Ensure There Isnt a Name John Doe Already in the Dataset
temp2 = train.copy()
temp2 = temp2.dropna(subset=['Name'])
temp2['first_name'], temp2['last_name'] = zip(*temp2['Name'].apply(lambda x: re.split(r'\s+', x)))
if not temp2.loc[temp2['first_name'] == "John"].empty and not temp2.loc[temp2['last_name'] == "Doe"].empty:
    print("John Doe already exists in the dataset")
else:
    print("John Doe does not exist in the dataset")


#Fill missing Name with "John Doe"
temp["Name"] = temp["Name"].fillna("John Doe")

# Split Name into first_name and last_name Drop first_name; keep last_name 
temp['first_name'], temp['last_name'] = zip(*temp['Name'].apply(lambda x: re.split(r'\s+', x)))
temp.drop(columns=["Name", "first_name"], inplace=True)

# Replace NaN in service columns with 0
service_cols = ["RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]
for col in service_cols:
    temp[col] = temp[col].fillna(0)


temp.head()

John Doe does not exist in the dataset

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,group,pp,last_name
0,Europa,False,B/0/P,TRAPPIST-1e,39,False,0.0,0.0,0.0,0.0,0.0,False,1,1,Ofracculy
1,Earth,False,F/0/S,TRAPPIST-1e,24,False,109.0,9.0,25.0,549.0,44.0,True,2,1,Vines
2,Europa,False,A/0/S,TRAPPIST-1e,58,True,43.0,3576.0,0.0,6715.0,49.0,False,3,1,Susent
3,Europa,False,A/0/S,TRAPPIST-1e,33,False,0.0,1283.0,371.0,3329.0,193.0,False,3,2,Susent
4,Earth,False,F/1/S,TRAPPIST-1e,16,False,303.0,70.0,151.0,565.0,2.0,True,4,1,Santantines