Spaceship Titanic

# Data Analysis and Visualization

In [31]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

train = pd.read_csv('/Users/adityajoshi/Documents/VisualStudioCode/VSC/Kaggle Comps/Spaceship Titanic/train-SpaceshipTitanic.csv')
df = pd.DataFrame(train)
#df['HomePlanet'].nunique()
#type(train)
#print(train.head())

#count_nan = train.isnull().sum()
#print(count_nan)

#print(train.isnull())
#print(train.columns)
#print(train.shape)
#tester = (train.isnull()['HomePlanet']) 

#print(df[tester].head)
#pd.isnull(train)

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [42]:
#print(df.describe())
print("\n")
#print(df.isnull().sum())
print("\n")
df.ndim

2